* {
    box-sizing: border-box;
}
body{
    background-color: red;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top:0;
}
:root{
    --yellow: #fce38a;
    --greeny: #95e1d3;
    --pinky: #f38181;
    --white: #ffffff;
}
.top-section-bg{
    height: 100vh;
    padding: 25px 10px;
    background-color: #fce38a;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), url('images/top-section-bg.jpg') no-repeat;
    background-size: cover;
}
.shopping-cart::after{
    content: url('images/SHOPPING_CART.png')!important;
    height: 18px;
    width: 18px;
    border:none!important;
}
.search-btn::after{
    content: url('images/MAGNIFYING_GLASS.png')!important;
    height: 18px;
    width: 18px;
    border:none!important;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.logo h1 {
    margin-top: 0;
    color: var(--white);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.nav-blk {
    display: flex;
    justify-content: space-between;
}
.nav-link {
    text-decoration: none;
    color: var(--white);
    margin: 0 15px 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 10px 0;
}
.nav-link:hover {
    color: var(--yellow);
    border-bottom: 3px solid var(--yellow);
}
.sh-cart {
    padding: 10px 0;
}
.sh-cart-in {
    display: none;
}
.srch-field{
    padding: 10px 0;
    
}

.srch-field:hover > .srch {
    width: 150px;
    padding: 3px 35px 3px 5px;
    border: 2px solid var(--yellow);
    margin-top: -3px;
    font-family: 'Montserrat', sans-serif;
    margin-right: -30px;
    background-color: rgba(243, 129, 129, 0.5);
    border-radius: 11px;
    color: var(--white);
}

.search-btn{
    margin-left:0;
    margin-right: 0;
    border:none!important;
}

.srch{
    transition: all ease-in-out 0.4s;

    width: 0;
    border:none;
}


/**end of navbar**/
.cursive{
    font-family: 'Kaushan Script', cursive;
    color: var(--white);
    font-weight: 400;
    font-size: 72px;
    text-align: center;
    margin-bottom: 0;
}
.welc {
    max-width: 800px;
    margin: auto;
}
.welcome-text{
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    font-weight: 700;
    font-size: 150px;
    line-height: 140px; 
    text-align: center;
}